<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations - EcoSphere Solutions</title>
    <link rel="stylesheet" href="../styles/locations.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

    <link rel="stylesheet" href="../styles/adaptation.css">
    <header>
        <div class="logo">
        </div>
        <nav>
            <ul>
                <li class="navBar"><a href="../index.html">Home</a></li>
                <li class="navBar"><a href="product.html">Products</a></li>
                <li class="navBar"><a href="pricing.html">Pricing</a></li>
                <li class="navBar"><a href="feedback.html">Feedback</a></li>
                <li class="navBar"><a href="contact_us.html">Contact Us</a></li>
                <li class="navBar"><a href="locations.html">Locations</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>Our Locations</h1>
        <div class="map-container">
            <!-- Replace this iframe with your copied embed code -->
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1498.552266581934!2d69.2804821!3d41.3065895!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8ad5d9206111%3A0xaa4f860586a46d5c!2s874J%2B8PX%2C%20Istikbol%20Street%2012%2C%20100047%2C%20Tashkent%2C%20Uzbekistan!5e0!3m2!1sen!2s!4v1733240144574!5m2!1sen!2s" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <p>
                874J+8PX, Istikbol Street 12, 100047, 
                Tashkent, Uzbekistan
            </p>

        </div>
    </main>
    
    <footer>
        <p>© 2024 EcoSphere Solutions. All rights reserved.</p>
    </footer>
</body>
</html>