.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    text-align: center;

}

.product-item img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    padding-top: 15px;
}

@media (max-width: 768px) {
    .hero {
        padding: 2rem;
    }

    header {
        flex-direction: column;
        align-items: center;
    }
}

#productHeadline{
    text-align: center;
}

.product-item {
    background-color: #70aa709c;
    
    border-radius: 10px;

    transition: box-shadow 0.25s;
}

.product-item:hover {
    box-shadow: 0 8px 16px #335a43;
}

.product {
    background: linear-gradient(180deg, #95a492, #a7deab);
}